
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family:"FoundersGrotesk";
    src: url(FoundersGrotesk-Regular.otf);
}

body{
    /**background-color:#aa8d69;*/
    background: linear-gradient(#e2891e, #6f3018);
   /*background: linear-gradient(#007e4d, #002e1e);*/
     
}

/*Homepage*/
#titulo{
    text-align: center;
    padding-top: 2%; 
    
}
#titulo p{
   
    text-align: center;
    padding-top: 5px;
    font-family: 'Epilogue';
    font-weight:600;
    color:  #FFFFFF;
    font-size: 15px;
    word-spacing: 3px;
    
}
#titulo .nav-item{
    font-size: 18px;
    font-weight: bold;
    
    
   
    
   
}




#titulo a{
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    
}
#titulo a:hover{
    color: #faeccb;
    transition: all 0.2s ease-in-out;
    font-size: 25px;
    position: static;
}

#titulo a.active{
    color: #873a19;
    font-weight: bolder;  
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background: transparent;
    backdrop-filter: blur(40px);
    color: white; 
    cursor: pointer; 
    padding: 1px; 
    border-radius: 10px; 
   
    
    
    
  }

  #myBtn img{
    height: 30px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
    
  }
/**
#titulo a:hover{
    color: black;
    transition: all 0.2s ease-in-out;
}
#titulo a{
    color: #FFFFFF;
}
*/

.smalldesc{
    color: #FFFFFF;
    text-align: center;
    font-size: 20PX;
    padding-top: 2%;
    font-family: 'Epilogue';
}
.carousel-control-prev ,.carousel-control-next{
   margin-top: 705px;
  
   
   
}
#titulo h1{
    
    font-weight: 400;
    color: rgba(254,250,238,255);
    font-size: 50px;
    text-align: center;
    color:  #FFFFFF;
    padding-top: 1.5%;
    
}
.seccion{
    padding-left: 25px;
    padding-right: 25px;
    
}
.elementos{
   
    list-style: none;
    text-align: center;
    padding-top: 15px;
    font-family: 'Epilogue';
    font-weight: bold;
    color:  #FFFFFF;
    font-size: 25px;
    
}
.elementos li{
    padding-bottom: 2%;
}

.work-unit{
    padding-top: 20px;
    max-width: 800px; 
}
.p-img{
    max-height: 50vh;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.Description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 0 30px;
}
.titulo-2{
   font-size: 26px;
   font-weight: 500; 
   text-align: center;
   
   
}

#Recientes h2{
    color: #FFFFFF;
    font-size: 25px;
    padding-bottom: 2%;
    padding-top: 2%;
    font-family: 'Epilogue';
}
.carvid{
height: 350px;
width: 0;
}

.cardesc{
    margin-top: 350px;
}

.botcar{
   margin-left: 35%;
   padding-bottom: 50px;
   margin-top: 5%;
   
}

#informacion{
    padding: 5% 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFFFFF;
	text-align: left;
	
	
}
#informacion h3{
	font-size: 45px;
	font-weight: 400;
	margin-top: 5%;
    color: #FFFFFF;
}
#informacion p{
	padding-top: 5px;
	font-size: 20px;
	font-weight: 300;
	text-align: justify;
	color: #FFFFFF;
}
.info-pic{
	padding-top: 5%;
	border-radius: 8%;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 3%;
	width: 85%;
    color: #FFFFFF;
    
}
.btn-light{
	margin-top: 1.5%;
}
#informacion h2{
	padding-top: 70px;
	font-weight: 400;
    color: #FFFFFF;
	
}

#informacion ul{
    display: flex;
    list-style: none;
    
    
    
    
}

.softwares img{
    width: 100px;
    
}

.softwares li{
    padding-left: 15px;
    
}

.softwares{
    margin-left: -55px;
}

#informacion h4{
    font-weight: 300;
    padding-bottom: 25px;
}
.btn-primary{
    align-content: center;
    margin-left: 30%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5%;
    
}

.SoftLogos{
    padding-top: 1%;
}
.soldierwalk{
    filter: brightness(0.4);
}


.work{
	position: relative;
}
#work h2 {

padding-bottom: 3%;
font-family:'Epilogue';
color: #ffffff;
padding-top: 5%;
font-size: 25px;
}

#modelos3d h2{
    padding-bottom: 3%;
font-family:'Epilogue';
color: #ffffff;
padding-top: 5%;
font-size: 25px;

}
.work-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: #440202;
	opacity: 0;
	display: grid;
	align-content: center;
	justify-content: center;
	text-align: center;
	transition: all 0.3s ease-in-out;
}
.work:hover .work-bg{
	opacity: 1;
	transition: all 0.3s ease-in-out;
}
.work-info h4{
	color: #000000;
	transform:translate3d(0px,20px,0);
	transition: all 0.5s ease-in-out;
	
}
.work-info p{
	font-size:12px;
	color: #6D6D6D;
	transform:translate3d(0px,-20px,0);
	transition: all 0.5s ease-in-out;
}
.work:hover .work-info h4{
	transform:translate3d(0px,0px,0);
	transition: all 0.5s ease-in-out;
}
.work:hover .work-info p{
	transform:translate3d(0px,0px,0);
	transition: all 0.5s ease-in-out;
	
}
.work-frame{
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0;
	padding: 10px;
	transition: all 0.4s ease-in-out;
	opacity: 0;
}
.work-frame-info{
	position: relative;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
	justify-content: center;
	text-align: center;
}
.work:hover .work-frame{
	opacity: 1;
	transition: all 0.4s ease-in-out;
}	
.capa-relative{
	position: relative;
	overflow: hidden;
}
.capa-cintillo{
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	color: #FFFFFF;
	display: grid;
	align-content: center;
	justify-content: center;
	z-index: 50;
	
}
.capa-cintillo h4{
	font-size: 16px;
}
.bg-black{
	background-color: #000000;
}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(255,255,255,0.75);
	z-index: 0;
}
.capa-relative img{
	
	transition: all 0.4s ease-in-out;
}
.capa-relative:hover img{
	
	transform: scale(1.1);
	transition: all 0.7 ease-in-out;
}

.modpic{
    display: contents;
    align-items: center;
}

#Portafolio{
background-position: center;
color: #FFFFFF;
padding: 5% 0;
text-align: left;
margin-top: 00px;

}
#Portafolio h1{
margin-top: 35px;
color: rgb(255, 255, 255);
padding-bottom: 15px;
}
#portafolio h3{
color: rgb(255, 255, 255);

}

footer{
    background-color: #401708;
    
    
}
#modelos3d{padding-bottom: 4%;}

.contactenv{
    padding-right: 15px;
}

#dosde{
    color: #FFFFFF;
}
#dosde p{
    padding-top: 10%;
    font-family:'Epilogue';
}
#contactemos{
   
   
    color: #FFFFFF;
    font-family:'Epilogue';
    padding-top: 3%;

}

#contactemos p{
    padding-top: 2.5%;
    font-size: 20px;
}

#contactemos h2{
    padding-top: 3%;
}


#contactemos .btn-outline-warning{
    font-size: 35px;
    margin-top: 25px;
    margin-right: 45px;
    margin-bottom: 15px;
    
}
.socialcards ul{
    list-style: none;
    display: flex;
    margin-left: -40px;
    
}
.socialcards h4{
    padding-top: 3%;
    font-family:'Epilogue';
   
}

.spooky{
    width:90%;    
    }

   

footer{
    text-align: center;
    
}

footer p{
    color: #FFFFFF;
    text-align: center;
}

#work{
    color: #FFFFFF;
    font-weight: 200;
    font-family:'Epilogue';
}
footer i{
	font-size: 25px;
	padding-top: 3%;
    padding-bottom: 4%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:  #ffffff;
	transition: 0.2 ease-in-out;
	border-color:  solid #000000;
}

.card{
    background-color:#c0964da2;
}

#uxui{padding-top: 5%;
color: #ffffff;
padding-bottom: 5%;
font-family:'Epilogue';}

#uxui p{
    color:#ffffff;
}

.card-title{
    color: #ffffff;
}

footer i:hover{
	
	color:  rgb(236, 255, 151);
	transition: 0.2 ease-in-out;
}

